.bg-light {
    background-color: #000000!important;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  height: auto;
}

.logo{
  margin: auto;
}

.iconoNav{
  margin-left: 3rem;
}
.search{
  margin: auto;
  width: 100px;
}

.iconoNav a{
  font-size:8px;
  font-weight: bolder;
  letter-spacing: 10px;
  margin: auto;
  color:#FFFF;
  
}

.iconoNav a:hover{
  color: #ffee10;
  text-shadow: 0 0 15px #ffee10;
}